<div class="container container-sub">

    <form class="form-horizontal">
        <div class="row">
            <div class="col-xs-8 col-sm-5">
                <div class="form-group">
                    <label class="control-label col-sm-2 left-align" for="section">Section</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="section" ng-model="report.section" convert-to-number>
                            <option ng-repeat="section in sections" value={{section.id}}>{{section.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-4">
                <div class="form-group">
                    <label class="control-label col-sm-2 left-align" for="type">Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="type" ng-model="report.reportType" ng-change="getStudents();" convert-to-number>
                            <option ng-repeat="type in ReportTypes" value={{type.id}}>{{type.type}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-3" ng-if="report.reportType == 2">
                <div class="form-group">
                    <div class="col-sm-12" typeahead-demo>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Student's Name" ng-model="report.student" uib-typeahead="student as student.firstName +' ' + student.lastName for student in students | studentSearchFilter: $viewValue | limitTo:8" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-5">
                <div class="form-group">
                    <label class="control-label col-sm-2 left-align" for="fromDate">From</label>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <span class="input-group-addon"><input type="checkbox" ng-model="report.isFromStart"> Beginning</span>
                            <input type="text" class="form-control" id="fromDate" uib-datepicker-popup ng-model="report.fromDate" close-text="Close" is-open="datePickerFrom.opened" ng-disabled="report.isFromStart">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar('From')" style="margin-left:5px" ng-disabled="report.isFromStart"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-4">
                <div class="form-group">
                    <label class="control-label col-sm-2 left-align" for="toDate">To</label>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" id="toDate" uib-datepicker-popup ng-model="report.toDate" close-text="Close" is-open="datePickerTo.opened">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar('To')" style="margin-left:5px"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-2">
                <button class="btn btn-primary" ng-click="getAttendanceReport()">Generate Report</button>
            </div>
        </div>
    </form>


    <div class="row" ng-if="reportData.length > 0 && report.reportType === 1">
        <div class="col-xs-12" set-max-height>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:20%">Name \ Subjects</th>
                        <th ng-repeat="header in allSubjects">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in reportData | orderBy: 'student'">
                        <td>{{report.student}}</td>
                        <td ng-repeat="attendance in report.attendance" ng-class="{'redBackground' : attendance.attendance < 80 , 'greenBackground': attendance.attendance > 80}">{{attendance.attendance}} %</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-if="reportData.length > 0 && report.reportType === 2">
        <div class="col-xs-12" set-max-height>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in reportData | orderBy: 'date'">
                        <td>{{report.date}}</td>
                        <td>{{report.subject}}</td>
                        <td ng-class="{'redBackground' : !report.isPresent, 'greenBackground': report.isPresent}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>