<div class="container container-sub">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2 left-align" for="email">Sender's Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" required ng-model="settings.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 left-align" for="password">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="Text1" placeholder="Enter Password" required ng-model="settings.password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 left-align" for="message">CC List <span class="clickable glyphicon glyphicon-question-sign" uib-tooltip="Email addresses separated by semicolon."></span></label>
                    <div class="col-sm-10"> 
                        <textarea class="form-control" id="message" rows="10" ng-model="settings.cc"></textarea>
                    </div>
                </div>              
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>