<div class="container container-sub">
    <div class="row" style="margin-bottom:10px">
        <div class="col-xs-12">
            <form class="form-horizontal">
               <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-2 left-align" for="section">Section</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="section" ng-model="attendance.section" ng-change="getSubjectBySection()" convert-to-number>
                                <option ng-repeat="section in sections | orderBy:'name'" value={{section.id}}>{{section.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-2 left-align" for="subject">Subject</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="subject" ng-model="attendance.subject" convert-to-number>
                                <option ng-repeat="subject in subjects  | orderBy:'name'" value={{subject.id}}>{{subject.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-sm-2 left-align" for="date">Date</label>
                        <div class="col-sm-10">
                            <p class="input-group">
                            <input type="text" class="form-control" id="date" uib-datepicker-popup ng-model="attendance.date"  close-text="Close" is-open="datePicker.opened">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar()" style="margin-left:5px"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-8 col-sm-1">
                    <button class="btn btn-primary" ng-click="getStudents()">Get Students</button>
                </div>        
            </form>
        </div>
    </div>
    <div class="row" ng-if="students.length > 0">
        <div class="col-xs-12 col-sm-6" set-max-height>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="header in attendanceHeadings">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students | orderBy:'firstName'">
                        <td>{{student.firstName}}</td>
                        <td>{{student.lastName}}</td>
                        <td>
                            <input type="checkbox" ng-model="student.isPresent" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-if="students.length > 0">
        <div class="col-xs-3 col-sm-2">
            <button class="btn btn-primary" ng-click="saveAttendance()" style="margin-bottom:10px;margin-top:10px;">Save Attendance</button>
        </div>
    </div>
</div>