<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title">Change Password</h4>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
         <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4 left-align" for="subject">Old Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="subject" placeholder="Enter Old Password" required ng-model="password.old">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 left-align" for="subject">New Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="Text1" placeholder="Enter New Password" required ng-model="password.new">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 left-align" for="subject">Confirm</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="Text2" placeholder="Enter New Password" required ng-model="password.verify">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="changePassword()" ng-disabled="((password.new != password.verify) || (password.new == undefined) || (password.old == undefined))">Save</button>
    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>
