<div class="container container-sub">
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            <button type="button" class="btn btn-primary" ng-click="addUser()" style="margin-bottom:10px">Add User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6" set-max-height>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="header in userHeadings">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <span class="clickable glyphicon glyphicon-edit" uib-tooltip="Edit user." ng-click="editUser(user)"></span>&nbsp;&nbsp;
                            <span class="clickable glyphicon glyphicon-trash" uib-tooltip="Delete user."></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>