<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title">{{mode}} User</h4>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4 left-align" for="userName">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="userName" placeholder="Enter user's name" required ng-model="user.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 left-align" for="firstName">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="firstName" placeholder="Enter user's email" required ng-model="user.email">
                    </div>
                </div>               
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="resetPassword()" ng-if="mode == 'Edit'">Reset Password</button>
    <button class="btn btn-primary" type="button" ng-click="saveUser()" ng-disabled="((user.name == undefined)||(user.email == undefined))">Save</button>
    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>
